.choose-graphics {
  justify-content: center;
  margin-top: 30px;
  display: flex;
}

.choose-graphics__btn {
  cursor: pointer;
  background-color: #0000;
  border: none;
  padding: 0 30px;
}

.choose-graphics__arrow {
  text-shadow: 0 0 #000;
  pointer-events: none;
  font-size: 40px;
  transition: all .1s ease-out;
}

.choose-graphics__btn:hover .choose-graphics__arrow {
  text-shadow: 0 0 5px #000;
}

.checkboxes-list {
  width: 30%;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
  list-style-type: none;
  display: flex;
  position: relative;
}

.checkboxes-list__item {
  align-items: center;
  display: flex;
}

.checkboxes-list__checkbox {
  appearance: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #1d1d1d;
}

.checkboxes-list__checkbox:checked {
  background-color: #1d1d1d;
}

.checkboxes-list__checkbox:checked:before {
  content: "✔";
  color: #fff;
  position: relative;
  left: 4px;
}

.checkboxes-list__label {
  color: #1d1d1d;
  cursor: pointer;
  padding-left: 5px;
  font-size: 16px;
}

.checkboxes-list__price {
  font-size: 16px;
  position: absolute;
  right: 0;
}

.summary-setting-and-approval {
  display: flex;
}

.summary-setting-and-approval__setting {
  margin-right: 20px;
}

.summary-product {
  width: 100%;
}

.summary-product .print-location-preview {
  width: 250px;
  height: 140px;
  position: relative;
}

.summary-product .print-location-preview__shirt-front {
  width: 50%;
  height: 100%;
  background-image: url("shirt-front.68332efb.jpg");
  background-size: cover;
  position: absolute;
}

.summary-product .print-location-preview__shirt-back {
  width: 50%;
  height: 100%;
  background-image: url("shirt-back.4467d202.jpg");
  background-size: cover;
  position: absolute;
  right: 0;
}

.summary-product .print-location-preview__print-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.summary-product .summary-product__header {
  margin: 15px 0;
  font-size: 30px;
}

.summary-product__name {
  margin-bottom: 10px;
  display: block;
}

.summary-product .summary-product-details {
  justify-content: space-between;
  margin-top: 30px;
  display: flex;
}

.summary-product .summary-product-details .summary-product-details__text {
  font-size: 16px;
}

.summary-product .summary-product-details .summary-product-graphics-container {
  margin-right: 71px;
}

.summary-product .summary-product-price-container {
  border-top: 1px solid #1d1d1d;
  padding-top: 10px;
}

.summary-setting-and-approval__edit-btn {
  width: 100px;
  height: 27px;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  margin: 0 10px;
  padding-right: 12px;
  font-size: 16px;
  transition: all .2s ease-out;
  position: relative;
}

.summary-setting-and-approval__edit-btn:hover {
  color: #1d1d1d;
  background-color: #fff;
}

.summary-setting-and-approval__edit-icon {
  pointer-events: none;
  margin-left: 5px;
  font-size: 15px;
  position: absolute;
  bottom: 4px;
}

.summary-setting-and-approval__edit-effect {
  margin-right: 15px;
}

.summary-setting-and-approval__label {
  height: 25px;
}

.choose-effect {
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.choose-effect .select-blur-power {
  visibility: hidden;
}

.choose-effect .select-blur-power__blur-power-number {
  width: 20px;
  text-align: center;
  pointer-events: none;
  display: inline-block;
}

.choose-effect .select-blur-power__blur-power-button {
  width: 25px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  font-size: 15px;
  font-weight: bold;
  transition: all .1s ease-out;
}

.choose-effect .select-blur-power__blur-power-button:hover {
  color: #1d1d1d;
  background-color: #fff;
  border: 1px solid #1d1d1d;
}

.choose-effect .select-blur-power--active {
  visibility: visible;
}

.navigate-section {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  display: flex;
}

.navigate-section__current-page-span {
  margin-bottom: 20px;
  font-size: 16px;
}

.navigate-section .navigate-buttons {
  justify-content: center;
  display: flex;
}

.navigate-section .navigate-buttons__btn {
  height: 40px;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  transition: all .2s ease-out;
  display: flex;
}

.navigate-section .navigate-buttons__btn--back {
  color: #1d1d1d;
  background-color: #fff;
  padding: 0 10px 0 5px;
}

.navigate-section .navigate-buttons__btn--next {
  padding: 0 5px 0 15px;
}

.navigate-section .navigate-buttons__btn--next:hover {
  color: #1d1d1d;
  background-color: #fff;
}

.navigate-section .navigate-buttons__btn--next:disabled {
  color: #c2c2c2;
  cursor: default;
  background-color: #fff;
  border: 1px solid #c2c2c2;
}

.navigate-section .navigate-buttons__btn--back:hover {
  color: #969696;
  border: 1px solid #969696;
}

.navigate-section .navigate-buttons__arrow {
  pointer-events: none;
  position: relative;
  bottom: 0;
}

.navigate-section .navigate-buttons__btn--disabled {
  display: none;
}

.navigate-section__notification {
  color: red;
  margin-top: 10px;
  font-size: 12px;
  display: inline;
}

.navigate-section__notification--disabled {
  display: none;
}

.order-form-container .choose-print-location {
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.print-location-preview {
  width: 300px;
  height: 170px;
  position: relative;
}

.print-location-preview__shirt-front {
  width: 50%;
  height: 100%;
  background-image: url("shirt-front.68332efb.jpg");
  background-size: cover;
  position: absolute;
}

.print-location-preview__shirt-back {
  width: 50%;
  height: 100%;
  background-image: url("shirt-back.4467d202.jpg");
  background-size: cover;
  position: absolute;
  right: 0;
}

.print-location-preview__print-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.summary-preview {
  width: 30%;
  border-left: 1px solid #1d1d1d;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  display: flex;
}

.summary-preview__span {
  font-size: 22px;
}

.summary-preview__list {
  width: 80%;
  margin-top: 30px;
  list-style-type: none;
}

.summary-preview__list .summary-preview__row {
  justify-content: space-between;
  margin: 15px 0;
  font-size: 16px;
  display: flex;
}

.summary-preview .print-location-preview {
  width: 180px;
  height: 100px;
  margin-right: 30px;
}

.summary-preview .print-location-preview__print-img {
  width: 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.summary-preview--disable {
  display: none;
}

.client-data-form {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.client-data-form__btn {
  width: 100px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 0;
  font-size: 20px;
  transition: all .2s ease-out;
  display: flex;
}

.client-data-form__btn--next {
  padding: 0 5px 0 15px;
}

.client-data-form__btn--next:hover {
  color: #1d1d1d;
  background-color: #fff;
}

.client-data-form__arrow {
  pointer-events: none;
  position: relative;
  bottom: 0;
}

.client-data-form .client-data-container {
  justify-content: space-evenly;
  display: flex;
}

.client-data-form .client-data-container .client-data-list {
  flex-direction: column;
  justify-content: space-between;
  margin: 0 50px;
  list-style: none;
  display: flex;
}

.client-data-form .client-data-container .client-data-list__title {
  margin-top: 20px;
}

.client-data-form .client-data-container .client-data-list__line {
  width: 200px;
  flex-direction: column;
  display: flex;
}

.client-data-form .client-data-container .client-data-list__input {
  width: 200px;
  height: 25px;
  border: 1px solid #1d1d1d;
  margin-bottom: 15px;
  padding-left: 4px;
}

.client-data-form .client-data-container .client-data-list__input--green {
  background-color: #cfff88;
}

.client-data-form .client-data-container .client-data-list__input--red {
  background-color: #fcbbbb;
}

.client-data-form__notification {
  color: red;
  margin-top: 10px;
  font-size: 12px;
  display: inline;
}

.client-data-form__btn--alert {
  animation: .5s ease-out button-alert;
  position: relative;
}

@keyframes button-alert {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(20px);
  }

  40% {
    transform: translateX(-15px);
  }

  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.delivery-page {
  flex-direction: column;
  display: flex;
}

.delivery-page__btn {
  width: 100px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  font-size: 20px;
  transition: all .2s ease-out;
  display: flex;
}

.delivery-page__btn--next {
  padding: 0 5px 0 15px;
}

.delivery-page__btn--next:hover {
  color: #1d1d1d;
  background-color: #fff;
}

.delivery-page__arrow {
  pointer-events: none;
  position: relative;
  bottom: 0;
}

.delivery-page__title {
  margin-top: 30px;
  position: relative;
  left: 0;
}

.delivery-page__notification {
  color: red;
  margin: 10px auto 0;
  font-size: 12px;
  display: inline;
}

.delivery-page__notification--hidden {
  display: none;
}

.delivery-page .delivery-wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
}

.delivery-page .delivery-wrapper .checkbox-container {
  display: flex;
}

.delivery-page .delivery-wrapper .checkboxes-list {
  width: 260px;
  margin-top: 30px;
  margin-left: 0;
}

.delivery-page .delivery-wrapper .checkboxes-list__label--smaller {
  margin-right: 5px;
  font-size: 11px;
}

.delivery-page .delivery-wrapper .checkboxes-list__item {
  width: 220px;
  justify-content: space-between;
}

.delivery-page .delivery-wrapper .checkboxes-list__item--smaller {
  width: 150px;
  justify-content: flex-start;
}

.delivery-page .delivery-wrapper .checkboxes-list__item--hidden {
  display: none;
}

.delivery-page .delivery-wrapper .delivery-form {
  visibility: hidden;
  margin-left: 10%;
  list-style: none;
}

.delivery-page .delivery-wrapper .delivery-form .delivery-form__line {
  flex-direction: column;
  display: flex;
}

.delivery-page .delivery-wrapper .delivery-form__line {
  width: 200px;
  flex-direction: column;
  display: flex;
}

.delivery-page .delivery-wrapper .delivery-form__input {
  width: 200px;
  height: 25px;
  border: 1px solid #1d1d1d;
  margin-bottom: 5px;
  padding-left: 4px;
}

.delivery-page .delivery-wrapper .delivery-form__input--green {
  background-color: #cfff88;
}

.delivery-page .delivery-wrapper .delivery-form__input--red {
  background-color: #fcbbbb;
}

.delivery-page .delivery-wrapper .delivery-form .client-data-list__input--green {
  background-color: #cfff88;
}

.delivery-page .delivery-wrapper .delivery-form .client-data-list__input--red {
  background-color: #fcbbbb;
}

.delivery-page .delivery-wrapper .delivery-form--visible {
  visibility: visible;
}

.delivery-page__btn--alert {
  animation: .5s ease-out button-alert;
  position: relative;
}

.delivery-page .same-address-btn {
  width: 60px;
  height: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-bottom: 5px;
  font-size: 25px;
  transition: all .2s ease-out;
  display: flex;
}

.delivery-page .same-address-btn:hover {
  color: #1d1d1d;
  background-color: #fff;
}

.final-summary-page__header {
  margin: 20px 0;
}

.final-summary-page .final-summary-upper-container {
  flex-direction: column;
  display: flex;
}

.final-summary-page .final-summary-client-data-container, .final-summary-page .final-summary-delivery-container {
  border-top: 1px solid #1d1d1d;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 30px;
  display: flex;
}

.final-summary-page .final-summary-client-data-container__client-data, .final-summary-page .final-summary-delivery-container__client-data {
  flex-direction: column;
  list-style: none;
  display: flex;
}

.final-summary-page .final-summary-client-data-container .final-summary-delivery-container, .final-summary-page .final-summary-delivery-container .final-summary-delivery-container {
  justify-content: space-between;
  display: flex;
}

.final-summary-page .final-summary-client-data-container .final-summary-client-data-approval, .final-summary-page .final-summary-client-data-container .final-summary-delivery, .final-summary-page .final-summary-delivery-container .final-summary-client-data-approval, .final-summary-page .final-summary-delivery-container .final-summary-delivery {
  margin: 30px 0 0 10px;
  display: flex;
}

.final-summary-page .final-summary-client-data-container .final-summary-client-data-approval__edit-btn:hover, .final-summary-page .final-summary-client-data-container .final-summary-delivery__edit-btn:hover, .final-summary-page .final-summary-delivery-container .final-summary-client-data-approval__edit-btn:hover, .final-summary-page .final-summary-delivery-container .final-summary-delivery__edit-btn:hover {
  color: #1d1d1d;
  background-color: #fff;
}

.final-summary-page .final-summary-client-data-container .final-summary-client-data-approval__edit-icon, .final-summary-page .final-summary-client-data-container .final-summary-delivery__edit-icon, .final-summary-page .final-summary-delivery-container .final-summary-client-data-approval__edit-icon, .final-summary-page .final-summary-delivery-container .final-summary-delivery__edit-icon {
  pointer-events: none;
  margin-left: 5px;
  font-size: 15px;
  position: absolute;
  bottom: 4px;
}

.final-summary-page .final-summary-client-data-container .final-summary-client-data-approval__edit-effect, .final-summary-page .final-summary-client-data-container .final-summary-delivery__edit-effect, .final-summary-page .final-summary-delivery-container .final-summary-client-data-approval__edit-effect, .final-summary-page .final-summary-delivery-container .final-summary-delivery__edit-effect {
  margin-right: 15px;
}

.final-summary-page .final-summary-client-data-container .final-summary-client-data-approval__label, .final-summary-page .final-summary-client-data-container .final-summary-delivery__label, .final-summary-page .final-summary-delivery-container .final-summary-client-data-approval__label, .final-summary-page .final-summary-delivery-container .final-summary-delivery__label {
  height: 25px;
}

.final-summary-page .summary-setting-and-approval__client-data {
  margin-right: 70px;
}

.final-summary-page .final-summary-delivery-address {
  font-size: 14px;
  list-style: none;
}

.final-summary-page .final-summary-delivery-address--hidden {
  display: none;
}

.final-summary-page .final-order-price {
  border-top: 1px solid #1d1d1d;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 30px;
  display: flex;
}

.final-summary-page .submit-order-btn {
  width: 230px;
  height: 45px;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  margin: 30px auto 0;
  font-size: 22px;
  transition: all .2s ease-out;
}

.final-summary-page .submit-order-btn:hover {
  color: #1d1d1d;
  background-color: #fff;
}

.final-summary-page .submit-order-btn:disabled {
  color: #a3a3a3;
  cursor: default;
  background-color: #fff;
  border: 1px solid #a3a3a3;
}

.final-summary-page .final-red-notification {
  text-align: center;
  color: red;
  margin-top: 10px;
  font-size: 12px;
}

.final-summary-page .final-red-notification--hidden {
  visibility: hidden;
}

.thank-you-page {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.thank-you-page .thank-you-header {
  margin: 50px 0 20px;
}

.thank-you-page .order-info {
  width: 60%;
  margin-top: 20px;
  list-style: none;
}

.thank-you-page .order-info__line {
  justify-content: space-between;
  margin: 5px 0;
  display: flex;
}

.thank-you-page .order-info__line--border-top {
  border-top: 1px solid #1d1d1d;
  padding-top: 10px;
}

.thank-you-page .keep-buying-btn {
  width: 230px;
  height: 45px;
  color: #fff;
  cursor: pointer;
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  margin: 50px auto 0;
  font-size: 22px;
  transition: all .2s ease-out;
}

.thank-you-page .keep-buying-btn:hover {
  color: #1d1d1d;
  background-color: #fff;
}

.header-container--hidden {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  color: #1d1d1d;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  display: flex;
}

.header-container {
  width: 950px;
  border-bottom: 1px solid #1d1d1d;
  margin-top: 80px;
}

.header-container .header-container__text {
  color: #1d1d1d;
  font-size: 25px;
}

.main-section {
  width: 950px;
  justify-content: center;
  display: flex;
}

.main-section .order-form-container {
  width: 70%;
}

.main-section .order-form-container .form-page {
  flex-direction: column;
  display: none;
}

.main-section .order-form-container .form-page__name {
  color: #1d1d1d;
  margin-top: 70px;
  font-size: 25px;
}

.main-section .order-form-container .form-page--active {
  display: flex;
}

button {
  font-family: Poppins, sans-serif;
}

.text-bold {
  font-weight: bold;
}

/*# sourceMappingURL=index.08963856.css.map */
