@import "./second-page.scss";

$text-black: #1d1d1d;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Poppins", sans-serif;
	background: linear-gradient(
		90deg,
		rgb(215, 255, 252) 30%,
		rgb(251, 255, 215) 100%
	);
	color: $text-black;
}

.header-container {
	width: 50%;
	border-bottom: 1px solid black;
	margin-top: 150px;
	.header-container__text {
		font-size: 25px;
		color: $text-black;
	}
}

.main-section {
	width: 50%;
	display: flex;
	justify-content: center;

	.order-form-container {
		width: 70%;

		.form-page {
			display: none;
			flex-direction: column;

			&__name {
				color: $text-black;
				font-size: 25px;
				margin-top: 70px;
			}
		}
		.form-page--active {
			display: flex;
		}

		// checkboxes - page 1 and 3
		.choose-print-location,
		.choose-effect {
			display: flex;
			align-items: center;
			margin-top: 30px;

			.checkboxes-list {
				width: 30%;
				position: relative;
				display: flex;
				flex-direction: column;
				gap: 10px;
				list-style-type: none;
				margin-left: 30px;

				&__checkbox {
					appearance: none;
					height: 20px;
					width: 20px;
					background-color: #d5d5d5;
					border-radius: 3px;
					cursor: pointer;
				}

				&__checkbox:checked {
					background-color: green;
				}

				&__label {
					font-size: 16px;
					color: $text-black;
					cursor: pointer;
				}
				&__price {
					position: absolute;
					right: 0;
					font-size: 16px;
				}
			}

			// image preview - page 1
			.print-preview {
				position: relative;
				width: 300px;
				height: 170px;

				&__shirt-front {
					position: absolute;
					background-image: url(../../img/shirt-front.jpg);
					background-size: cover;
					width: 50%;
					height: 100%;
				}

				&__shirt-back {
					position: absolute;
					background-image: url(../../img/shirt-back.jpg);
					background-size: cover;
					right: 0;
					width: 50%;
					height: 100%;
				}

				&__print-img {
					position: absolute;
					top: 30%;
					left: 50%;
					transform: translate(-50%);
				}
			}
			.select-blur-power {
				visibility: hidden;
				&__blur-power-number {
					display: inline-block;
					text-align: center;
					width: 20px;
					pointer-events: none;
				}
				&__blur-power-button {
					font-size: 20px;
					width: 20px;
					background-color: #b8ffa3;
					border: none;
					cursor: pointer;
					transition: 0.1s ease-out;
				}
				&__blur-power-button:hover {
					background-color: #93d37f;
				}
			}
			.select-blur-power--active {
				visibility: visible;
			}
		}
	}

	.summary-preview {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 30%;
		border-left: 1px solid black;
		margin-top: 70px;

		&__span {
			font-size: 22px;
		}

		&__list {
			width: 80%;
			margin-top: 30px;
			list-style-type: none;
			.summary-preview__row {
				display: flex;
				justify-content: space-between;
				margin: 15px 0;
				font-size: 16px;
			}
		}
		.print-preview {
			position: relative;
			margin-right: 30px;
			width: 180px;
			// border: 1px solid red;
			height: 100px;
			&__shirt-front {
				position: absolute;
				background-image: url(../../img/shirt-front.jpg);
				background-size: cover;
				width: 50%;
				height: 100%;
			}

			&__shirt-back {
				position: absolute;
				background-image: url(../../img/shirt-back.jpg);
				background-size: cover;
				right: 0;
				width: 50%;
				height: 100%;
			}

			&__print-img {
				position: absolute;
				width: 30px;
				top: 30%;
				left: 50%;
				transform: translate(-50%);
			}
		}
	}
}

.navigate-section {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__current-page-span {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.navigate-buttons {
		display: flex;
		justify-content: center;
		&__btn {
			// position: relative;
			background-color: #b8ffa3;
			border: none;
			border-radius: 10px;
			width: 100px;
			height: 40px;
			font-size: 20px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 10px;
			transition: 0.2s ease-out;
		}
		&__btn:hover {
			background-color: #93d37f;
		}
		&__arrow {
			position: relative;
			bottom: 0;
			pointer-events: none;
		}
		&__btn--disabled {
			display: none;
		}
	}
}
