$dark: #1d1d1d;

.checkboxes-list {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	width: 30%;
	gap: 10px;
	list-style-type: none;

	&__item {
		display: flex;
		align-items: center;
	}
	&__checkbox {
		appearance: none;
		height: 20px;
		width: 20px;
		background-color: #ffffff;
		border: 1px solid $dark;
		cursor: pointer;
	}

	&__checkbox:checked {
		background-color: $dark;
	}

	&__checkbox:checked::before {
		position: relative;
		left: 4px;
		content: "\002714";
		color: white;
	}

	&__label {
		padding-left: 5px;
		font-size: 16px;
		color: $dark;
		cursor: pointer;
	}
	&__price {
		position: absolute;
		right: 0;
		font-size: 16px;
	}
}

.summary-setting-and-approval {
	display: flex;
	&__setting {
		margin-right: 20px;
	}
}
