$dark: #1d1d1d;

.choose-effect {
	display: flex;
	align-items: center;
	margin-top: 30px;

	.select-blur-power {
		visibility: hidden;

		&__blur-power-number {
			display: inline-block;
			width: 20px;
			text-align: center;
			pointer-events: none;
		}
		&__blur-power-button {
			width: 25px;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			color: white;
			background-color: $dark;
			border: 1px solid $dark;
			transition: 0.1s ease-out;
			cursor: pointer;
		}
		&__blur-power-button:hover {
			color: $dark;
			background-color: white;
			border: 1px solid $dark;
		}
	}
	.select-blur-power--active {
		visibility: visible;
	}
}
