$dark: #1d1d1d;
$green-approved: rgb(207, 255, 136);
$red-error: rgb(252, 187, 187);

.delivery-page {
	display: flex;
	flex-direction: column;

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		width: 100px;
		height: 40px;
		font-size: 20px;
		color: white;
		background-color: $dark;
		border: 1px solid black;
		transition: 0.2s ease-out;
		cursor: pointer;
	}
	&__btn--next {
		padding: 0 5px 0 15px;
	}
	&__btn--next:hover {
		color: $black;
		background-color: white;
	}
	&__arrow {
		position: relative;
		bottom: 0;
		pointer-events: none;
	}
	&__title {
		position: relative;
		left: 0;
		margin-top: 30px;
	}
	&__notification {
		display: inline;
		margin: 10px auto 0;
		font-size: 12px;
		color: red;
	}
	&__notification--hidden {
		display: none;
	}

	.delivery-wrapper {
		display: flex;
		margin-top: 20px;
		width: 100%;

		.checkbox-container {
			display: flex;
		}

		.checkboxes-list {
			margin-left: 0;
			margin-top: 30px;
			width: 260px;

			&__label--smaller {
				margin-right: 5px;
				font-size: 11px;
			}
			&__item {
				justify-content: space-between;
				width: 220px;
			}
			&__item--smaller {
				justify-content: flex-start;
				width: 150px;
			}
			&__item--hidden {
				display: none;
			}
		}

		.delivery-form {
			visibility: hidden;
			margin-left: 10%;
			list-style: none;

			.delivery-form__line {
				display: flex;
				flex-direction: column;
			}
			&__line {
				display: flex;
				flex-direction: column;
				width: 200px;
			}
			&__input {
				margin-bottom: 5px;
				padding-left: 4px;
				width: 200px;
				height: 25px;
				border: 1px solid $dark;
			}
			&__input--green {
				background-color: $green-approved;
			}
			&__input--red {
				background-color: $red-error;
			}
		}

		.delivery-form--visible {
			visibility: visible;
		}
	}
	&__btn--alert {
		position: relative;
		animation: button-alert 0.5s ease-out;
	}

	.same-address-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 5px;
		margin-top: 0;
		width: 60px;
		height: 20px;
		font-size: 25px;
		color: white;
		background-color: $dark;
		border: 1px solid $dark;
		transition: 0.2s ease-out;
		cursor: pointer;
	}
	.same-address-btn:hover {
		color: $dark;
		background-color: white;
	}
}

@keyframes button-alert {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(20px);
	}
	40% {
		transform: translateX(-15px);
	}
	60% {
		transform: translateX(+10px);
	}
	80% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0px);
	}
}
