$dark: #1d1d1d;

.navigate-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	&__current-page-span {
		margin-bottom: 20px;
		font-size: 16px;
	}
	.navigate-buttons {
		display: flex;
		justify-content: center;

		&__btn {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 10px;
			height: 40px;
			font-size: 20px;
			color: white;
			background-color: $dark;
			border: 1px solid $dark;
			transition: 0.2s ease-out;
			cursor: pointer;
		}
		&__btn--back {
			padding: 0 10px 0 5px;
			color: $dark;
			background-color: #ffffff;
		}
		&__btn--next {
			padding: 0 5px 0 15px;
		}

		&__btn--next:hover {
			color: $dark;
			background-color: #ffffff;
		}
		&__btn--next:disabled {
			color: #c2c2c2;
			background-color: #ffffff;
			border: 1px solid #c2c2c2;
			cursor: default;
		}
		&__btn--back:hover {
			color: rgb(150, 150, 150);
			border: 1px solid rgb(150, 150, 150);
		}
		&__arrow {
			position: relative;
			bottom: 0;
			pointer-events: none;
		}
		&__btn--disabled {
			display: none;
		}
	}
	&__notification {
		display: inline;
		margin-top: 10px;
		font-size: 12px;
		color: red;
	}
	&__notification--disabled {
		display: none;
	}
}
