@import "./chooseGraphicsPage.scss";
@import "./checkboxes.scss";
@import "./summaryProduct.scss";
@import "./chooseEffectPage.scss";
@import "./navigateSection.scss";
@import "./choosePrintLocationPage.scss";
@import "./summaryPreview.scss";
@import "./clientDataFormPage.scss";
@import "./deliveryOptionsPage.scss";
@import "./finalOrderSummary.scss";
@import "./thankYouPage.scss";

$dark: #1d1d1d;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	align-items: center;
	color: $dark;
	background-color: white;
}

.header-container {
	margin-top: 80px;
	width: 50%;
	border-bottom: 1px solid $dark;
	.header-container__text {
		font-size: 25px;
		color: $dark;
	}
}

.main-section {
	display: flex;
	justify-content: center;
	width: 50%;

	.order-form-container {
		width: 70%;

		.form-page {
			display: none;
			flex-direction: column;

			&__name {
				margin-top: 70px;
				font-size: 25px;
				color: $dark;
			}
		}
		.form-page--active {
			display: flex;
		}
	}
}

button {
	font-family: "Poppins", sans-serif;
}

.text-bold {
	font-weight: bold;
}
