@import "./chooseGraphicsPage.scss";
@import "./checkboxes.scss";
@import "./summaryProduct.scss";
@import "./chooseEffectPage.scss";
@import "./navigateSection.scss";
@import "./choosePrintLocationPage.scss";
@import "./summaryPreview.scss";
@import "./clientDataFormPage.scss";

$black: #1d1d1d;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.main-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Poppins", sans-serif;
	background-color: white;
	color: $black;
}

.header-container {
	width: 50%;
	border-bottom: 1px solid $black;
	margin-top: 80px;
	.header-container__text {
		font-size: 25px;
		color: $black;
	}
}

.main-section {
	width: 50%;
	display: flex;
	justify-content: center;

	.order-form-container {
		width: 70%;

		.form-page {
			display: none;
			flex-direction: column;

			&__name {
				color: $black;
				font-size: 25px;
				margin-top: 70px;
			}
		}
		.form-page--active {
			display: flex;
		}
	}
}

button {
	font-family: "Poppins", sans-serif;
}
