$black: #1d1d1d;

.summary-product {
	width: 100%;

	.print-location-preview {
		position: relative;
		width: 250px;
		height: 140px;

		&__shirt-front {
			position: absolute;
			background-image: url(../img/shirt-front.jpg);
			background-size: cover;
			width: 50%;
			height: 100%;
		}

		&__shirt-back {
			position: absolute;
			background-image: url(../img/shirt-back.jpg);
			background-size: cover;
			right: 0;
			width: 50%;
			height: 100%;
		}

		&__print-img {
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%);
		}
	}

	.summary-product__header {
		margin: 15px 0;
		font-size: 30px;
	}

	&__name {
		display: block;
		margin-bottom: 10px;
	}

	.summary-product-details {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

		.summary-product-details__text {
			font-size: 16px;
		}
		.summary-product-graphics-container {
			margin-right: 71px;
		}
	}
	.summary-product-price-container {
		padding-top: 10px;
		border-top: 1px solid $black;
	}
}
.summary-setting-and-approval {
	&__edit-btn {
		position: relative;
		padding-right: 12px;
		width: 100px;
		height: 27px;
		margin-left: 20px;
		background-color: $black;
		color: white;
		border: 1px solid $black;
		font-size: 16px;
		cursor: pointer;
		margin: 0 10px;
		transition: 0.2s ease-out;
	}

	&__edit-btn:hover {
		background-color: #ffffff;
		color: $black;
	}
	&__edit-icon {
		position: absolute;
		font-size: 15px;
		bottom: 4px;
		margin-left: 5px;
		pointer-events: none;
	}
	&__edit-effect {
		margin-right: 15px;
	}
	&__label {
		height: 25px;
	}
}
