@charset "UTF-8";
.choose-graphics {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.choose-graphics__btn {
  background-color: transparent;
  border: none;
  padding: 0 30px;
  cursor: pointer;
}
.choose-graphics__arrow {
  font-size: 40px;
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
  transition: 0.1s ease-out;
  pointer-events: none;
}
.choose-graphics__btn:hover .choose-graphics__arrow {
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font-family: "Poppins", sans-serif;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #1d1d1d;
}

.header-container {
  width: 50%;
  border-bottom: 1px solid black;
  margin-top: 80px;
}
.header-container .header-container__text {
  font-size: 25px;
  color: #1d1d1d;
}

.main-section {
  width: 50%;
  display: flex;
  justify-content: center;
}
.main-section .order-form-container {
  width: 70%;
}
.main-section .order-form-container .form-page {
  display: none;
  flex-direction: column;
}
.main-section .order-form-container .form-page__name {
  color: #1d1d1d;
  font-size: 25px;
  margin-top: 70px;
}
.main-section .order-form-container .form-page--active {
  display: flex;
}
.main-section .order-form-container .choose-print-location,
.main-section .order-form-container .choose-effect {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.main-section .order-form-container .choose-print-location .select-blur-power,
.main-section .order-form-container .choose-effect .select-blur-power {
  visibility: hidden;
}
.main-section .order-form-container .choose-print-location .select-blur-power__blur-power-number,
.main-section .order-form-container .choose-effect .select-blur-power__blur-power-number {
  display: inline-block;
  text-align: center;
  width: 20px;
  pointer-events: none;
}
.main-section .order-form-container .choose-print-location .select-blur-power__blur-power-button,
.main-section .order-form-container .choose-effect .select-blur-power__blur-power-button {
  font-size: 20px;
  width: 20px;
  background-color: #b8ffa3;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-out;
}
.main-section .order-form-container .choose-print-location .select-blur-power__blur-power-button:hover,
.main-section .order-form-container .choose-effect .select-blur-power__blur-power-button:hover {
  background-color: #93d37f;
}
.main-section .order-form-container .choose-print-location .select-blur-power--active,
.main-section .order-form-container .choose-effect .select-blur-power--active {
  visibility: visible;
}
.main-section .print-preview {
  position: relative;
  width: 300px;
  height: 170px;
}
.main-section .print-preview__shirt-front {
  position: absolute;
  background-image: url(../../img/shirt-front.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
}
.main-section .print-preview__shirt-back {
  position: absolute;
  background-image: url(../../img/shirt-back.jpg);
  background-size: cover;
  right: 0;
  width: 50%;
  height: 100%;
}
.main-section .print-preview__print-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
.main-section .checkboxes-list {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin-left: 30px;
}
.main-section .checkboxes-list__item {
  display: flex;
  align-items: center;
}
.main-section .checkboxes-list__checkbox {
  appearance: none;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  cursor: pointer;
}
.main-section .checkboxes-list__checkbox:checked {
  background-color: black;
}
.main-section .checkboxes-list__checkbox:checked::before {
  color: white;
  content: "✔";
  position: relative;
  left: 4px;
}
.main-section .checkboxes-list__label {
  font-size: 16px;
  color: #1d1d1d;
  cursor: pointer;
}
.main-section .checkboxes-list__price {
  position: absolute;
  right: 0;
  font-size: 16px;
}
.main-section .summary-preview {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  border-left: 1px solid black;
  margin-top: 70px;
}
.main-section .summary-preview__span {
  font-size: 22px;
}
.main-section .summary-preview__list {
  width: 80%;
  margin-top: 30px;
  list-style-type: none;
}
.main-section .summary-preview__list .summary-preview__row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 16px;
}
.main-section .summary-preview .print-preview {
  margin-right: 30px;
  width: 180px;
  height: 100px;
}
.main-section .summary-preview .print-preview__print-img {
  position: absolute;
  width: 30px;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
.main-section .summary-preview--disable {
  display: none;
}

.navigate-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigate-section__current-page-span {
  font-size: 16px;
  margin-bottom: 20px;
}
.navigate-section .navigate-buttons {
  display: flex;
  justify-content: center;
}
.navigate-section .navigate-buttons__btn {
  padding-left: 12px;
  background-color: #1d1d1d;
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: 0.2s ease-out;
}
.navigate-section .navigate-buttons__btn--back {
  padding-right: 20px;
  background-color: #ffffff;
  color: #1d1d1d;
}
.navigate-section .navigate-buttons__btn--next:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}
.navigate-section .navigate-buttons__btn--back:hover {
  border: 1px solid rgb(150, 150, 150);
  color: rgb(150, 150, 150);
}
.navigate-section .navigate-buttons__arrow {
  position: relative;
  bottom: 0;
  pointer-events: none;
}
.navigate-section .navigate-buttons__btn--disabled {
  display: none;
}
.navigate-section__notification {
  display: inline;
  margin-top: 10px;
  font-size: 12px;
  color: red;
}
.navigate-section__notification--disabled {
  display: none;
}

.summary-product {
  width: 100%;
}
.summary-product .print-preview {
  position: relative;
  width: 250px;
  height: 140px;
}
.summary-product .print-preview__shirt-front {
  position: absolute;
  background-image: url(../../img/shirt-front.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
}
.summary-product .print-preview__shirt-back {
  position: absolute;
  background-image: url(../../img/shirt-back.jpg);
  background-size: cover;
  right: 0;
  width: 50%;
  height: 100%;
}
.summary-product .print-preview__print-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
.summary-product .summary-product__header {
  margin: 15px 0;
  font-size: 30px;
}
.summary-product__name {
  display: block;
  margin-bottom: 10px;
}
.summary-product .summary-product-details {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.summary-product .summary-product-details .summary-setting-and-approval {
  display: flex;
}
.summary-product .summary-product-details .summary-setting-and-approval__setting {
  margin-right: 20px;
}
.summary-product .summary-product-details .summary-setting-and-approval__checkbox {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #d5d5d5;
  border-radius: 3px;
  cursor: pointer;
}
.summary-product .summary-product-details .summary-setting-and-approval__checkbox:checked {
  background-color: green;
}
.summary-product .summary-product-details .summary-setting-and-approval__label {
  padding-left: 5px;
  height: 25px;
  font-size: 16px;
  color: #1d1d1d;
  cursor: pointer;
}
.summary-product .summary-product-details .summary-setting-and-approval__edit-btn {
  position: relative;
  padding-right: 12px;
  width: 100px;
  height: 25px;
  margin-left: 20px;
  background-color: #b8ffa3;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.2s ease-out;
}
.summary-product .summary-product-details .summary-setting-and-approval__edit-btn:hover {
  background-color: #93d37f;
}
.summary-product .summary-product-details .summary-setting-and-approval__edit-icon {
  position: absolute;
  font-size: 15px;
  bottom: 4px;
  margin-left: 5px;
  pointer-events: none;
}
.summary-product .summary-product-details .summary-product-details__text {
  font-size: 16px;
}
.summary-product .summary-product-details .summary-product-graphics-container {
  margin-right: 74px;
}
.summary-product .summary-product-price-container {
  padding-top: 10px;
  border-top: 1px solid #1d1d1d;
}